
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-size: cover;
}

.login { 
	height:150px;
	width:210px;
	margin:auto;
	border:1px #CCC solid;
	padding:30px;
}

.login input { 
	padding:5px;
	margin:5px
 }

 .yazaki{

 	
 border:1px #CCC solid;
 }